.indextexto {
    display: flex;
    justify-content: space-around;
    border-left: white;
    border-inline-color: white;
    padding-left: 100px;
    padding-top: 100px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 300px;
}
.tituloindex{
    font-size: 40px;
}