.footer {
  display: flex;
  justify-content: space-around;
  
  background-color: rgba(97, 91, 90, 0.658);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.linkfooter {
  list-style: none;
  text-decoration: none;
  color: black;
}
