.imagenlogo{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content:space-between;
    
}
/*
.links {
    background-color: $colorPrincipal;
     color: $colorletra;
     display: flex;
     justify-content: space-evenly;
     
    
}


 .links {
     a {
         color: $colorsecundario;
     }
     
 }
 */
 .logoindex {
     display: flex;
     justify-content: center;
 }

 /*
 .fondologo {
     background-image: url(../imagen/damevida/hintersee-3601004_1920.jpg);  
 }*/

 .fondologo {
     background-image: url(../imagen/damevida/nature-g3d4f8507a_1920.jpg);
 }