.titulonoticias {
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    background-image: url(../imagen/damevida/blackboard-ge1204717f_1920.jpg);
}
.titulonoticias {
    background-color: rgba(20, 20, 66, 0.801);
    opacity: 90%;
}
.fondotexto {
    background-color: rgb(17, 16, 73);
}