.textoquienes {
    background-color: rgb(87, 85, 80);
    opacity: 90%;
    border-radius: 20px;
    padding-top: 100px;
    color: white;
}
.textoquienesdos {
    background-image: url(../imagen/damevida/backpack-ge048c1ff1_1280.jpg);
    color: white;
    
    padding-top: 100px;
    padding-bottom: 200px ;
}
.imgquienes{
    border-radius: 30px;
}