@import url('https://fonts.googleapis.com/css2? family = Poppins: wght @ 100 & display = swap');


$colorPrincipal:rgba(19, 121, 28, 0.993);
$colorsecundario: rgb(58, 160, 201);
$colorletra:rgb(234, 234, 240);
$colorparrafo:rgba(145, 145, 167, 0.671);

$mapacolor:(
    color:rgb(21,146,79),
    colorsecundario:(42 ,187,43,0.582),
    colorletra:rgb(234,234,240),
);
